*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
.footer{
    height: 420px;
    width: 100%;
    border: 1px solid;
    margin-top: 100px;
    background-color: black;
}
.footer .part-1{
    height: 350px;
    width: 100%;
    border: 1px solid;
    /* background-color: black; */
    display: flex;
    column-gap: 50px;
}
.footer .part-1 .block-1{
    height: 390px;
    width: 20%;
    /* border: 1px solid; */
    margin-top: -40px;
    /* margin-bottom: -50px; */
    margin-left: 150px;
    background-color: #E88F2A;
}
.footer .part-1 .block-1 .border{
    height: 360px;
    width: 92%;
    border: 1px solid;
    margin-top: 15px;
    margin-left: 13px;
    color: #fff;
}
.fa-cake-candles{
    margin-top: 30px;
    margin-left: 25px;
    color: black;
}
.footer .part-1 .block-1 .border h1{
    margin-top: -35px;
    margin-left: 60px;
}
.footer .part-1 .block-1 .border p{
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    padding: 5px;
}
.footer .part-1 .block-2{
    height: 280px;
    width: 18%;
    /* border: 1px solid; */
    margin-top: 22px;
    margin-left: 25px;
}
.footer .part-1 .block-3{
    height: 280px;
    width: 15%;
    /* border: 1px solid; */
    margin-top: 22px;
    margin-left: 25px;
}
.footer .part-1 .block-4{
    height: 280px;
    width: 20%;
    /* border: 1px solid; */
    margin-top: 22px;
    margin-left: 25px;
}
.footer .part-1 .block-2 .b1{
    height: 70px;    
    width: 100%;
    /* border: 1px solid; */
}
.footer .part-1 .block-2 .b1 h2{
    margin-top: 20px;
    color: #E88F2A;
}
.footer .part-1 .block-2 .b2{
    height: 130px;    
    width: 100%;
    /* border: 1px solid; */
}
.footer .part-1 .block-2 .b2 .fa-location-dot{
    font-size: 22px;
    color: #E88F2A;
    margin-top: 10px;
    margin-left: 5px;
    position: absolute;
}
.footer .part-1 .block-2 .b2 .p1{
    margin-left: 30px;    
    margin-top: -7px;
    font-size: 18px;
    color: #fff;
}
.footer .part-1 .block-2 .b2 .fa-envelope{
    font-size: 18px;
    color: #E88F2A;
    margin-top: 10px;
    margin-left: 5px;
    position: absolute;
}
.footer .part-1 .block-2 .b2 .p2{
    margin-left: 30px;    
    margin-top: -7px;
    font-size: 18px;
    color: #fff;
}
.footer .part-1 .block-2 .b2 .fa-phone{
    font-size: 18px;
    color: #E88F2A;
    margin-top: 10px;
    margin-left: 5px;
    position: absolute;
}
.footer .part-1 .block-2 .b2 .p3{
    margin-left: 30px;    
    margin-top: -7px;
    font-size: 18px;
    color: #fff;
}
.footer .part-1 .block-2 .b3{
    height: 80px;    
    width: 100%;
    /* border: 1px solid; */
    display: flex;
}
.footer .part-1 .block-2 .b3 .border-1, .border-2, .border-3{
    height: 50px;
    width: 55px;
    /* border: 1px solid; */
    margin-top: 10px;
    margin-left: 8px;
    background-color: #E88F2A;
}
.fa-square-twitter{
    color: #fff;
    margin-top: 9px;
    margin-left: 13px;
}
.fa-square-facebook{
    color: #fff;
    margin-top: 9px;
    margin-left: 13px;
}
.fa-linkedin{
    color: #fff;
    margin-top: 9px;
    margin-left: 13px;
}
.footer .part-1 .block-3 .b1{
    height: 70px;    
    width: 100%;
    /* border: 1px solid; */
}
.footer .part-1 .block-3 .b1 h2{
    margin-top: 20px;
    color: #E88F2A;
}
.footer .part-1 .block-3 .b2{
    height: 210px;    
    width: 100%;
    /* border: 1px solid; */
    /* color: #fff; */
}
.footer .part-1 .block-3 .b2 ul{
    color: #fff;
}
.footer .part-1 .block-3 .b2 ul{
    list-style: none;
    line-height: 25px;
    /* margin-left: 30px; */
}
.b2 ul li::before{
    content: '->';
    margin: 5px;
    color: #E88F2A;
}
.footer .part-1 .block-4 .b1{
    height: 70px;    
    width: 100%;
    /* border: 1px solid; */
}
.footer .part-1 .block-4 .b1 h2{
    margin-top: 20px;
    color: #E88F2A;
    margin-left: 20px;
}
.footer .part-1 .block-4 .b2{
    height: 105px;    
    width: 100%;
    /* border: 1px solid; */
}
.footer .part-1 .block-4 .b2 p{
    margin-left: 20px;
    line-height: 25px;
    font-size: 20px;
    margin-top: 12px;
    color: #fff;
}
.footer .part-1 .block-4 .b3{
    height: 105px;    
    width: 100%;
    /* border: 1px solid; */
}
.footer .part-1 .block-4 .b3 input{
    height: 50px;
    width: 40%;
    text-align: center;
    background-color: #fff;
    border: none;
    margin-left: 20px;
}
.footer .part-1 .block-4 .b3 button{
    height: 50px;
    width: 20%;
    background-color: #E88F2A;
    color: #fff;
    border: none;
    /* position: absolute; */
    /* margin-right: 10px; */
}

.footer .part-2{
    height: 70px;
    width: 100%;
    border: 1px solid;
    position: relative;
}
.part-2 .copyrights{
    position: absolute;
    margin-top: 20px;
    margin-left: 500px;
}
.part-2 .copyrights p{
    color: #fff;
}
.part-2 .arrow{
    height: 70px;
    width: 50px;
    border: 1px solid;
    margin-left: 1450px;
    background-color: #E88F2A;
}
.part-2 .arrow .border{
    height: 55px;
    width: 35px;
    border: 1px solid;
    margin-top: 6px;
    margin-left: 6px;
    border-color: #fff;
}
.fa-arrow-up-long{
    margin-top: 10px;
    margin-left: 5px;
    color: #fff;
}