body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section {
    position: relative;
    height: 630px;
    width: 100%;
    border: 1px solid;
}
#bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.text {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 35%;
}
.text h1 {
    font-size: 36px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: 700;
}
 p {
    font-size: 14px;
    line-height: 29px;
    color: #f4f5f9;
    font-weight: 400;
}
.circle {
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e74c3c;
}
.circle::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    background-color: #f4f5f9;
    margin: 0% 40px;
    left: 0%;
}
.circle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #f4f5f9;
    margin: 0% 40px;
    right: 0%;
}
svg {
    position: absolute;
    bottom: 0%;
}
.team {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e74c3c;
    text-align: center;
    position: absolute;
}
.team img {
    height: 92%;
    width: 92%;
    border-radius: 50%;
    margin-top: 2px;
}
.t-1 {
    top: 550px;
    left: 100px;
}
.t-2 {
    top: 450px;
    left: 400px;
    transform: scale(1.5);
}
.t-2::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: #f4f5f9;
    /* margin: 0% 40px; */
    left: 50%;
    top: 100%;
}
.data {text-align: center;
    position: absolute;
    top: 520px;
    left: 300px;
}
.data h3{
    font-size: 24px;
    letter-spacing: 2px;
    color: #e74c3c;
    font-weight: 600;
}
.t-3 {
    top: 420px;
    left: 700px;
}
.t-4 {
    top: 444px;
    left: 900px;
}
.t-5 {
    top: 430px;
    left: 1111px;
}