div{
    height: 300px;
    width: 300px;
    border: 18px solid lightgray;
    border-radius: 50%;
    border-top-color: lime;
    /* animation-timing-function: linear; */
    /* animation-name: spinner;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    animation: spinner linear 5s 1s infinite;
}
@keyframes spinner{
    /* 0%{border-color: lightseagreen;}
    25%{border-color: blueviolet;}
    50%{border-color: tomato;}
    75%{border-color: navy;} */
    100%{transform: rotate(360deg);}
}