*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.banner{
    height: 500px;
    width: 100%;
    position: relative;
    border: 1px solid red;
}
.banner .ban{
    height: inherit;
    width: inherit;
    position: absolute;
    /* border: 1px solid blue; */
}
.banner .ban-img img{
    height: 100%;
    width: 100%;
    filter: brightness(40%);   
}
.banner .ban-info{
    font-size: 20px;
    color: #fff;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    text-align: justify;
}


