* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=PT+Serif&family=Pixelify+Sans&family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100&display=swap'); */
.main {
    height: auto;
    width: 100%;
    /* border: 1px solid; */
    position: relative;
}

.main .welcome {
    height: auto;
    width: 100%;
    /* border: 1px solid; */
}

.main .welcome p {
    margin-top: 25px;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 183, 0);
    margin-top: 70px;
    font-size: xx-large;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Lora', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Playfair Display', serif !important;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif; */
}

.main .welcome h1 {
    text-align: center;
    letter-spacing: 1px;
}

.main .welcome h3 {
    border: 1px solid;
    width: 130px;
    margin-left: 700px;
    color: rgb(255, 183, 0);
}

.main .welcome h4 {
    border: 5px solid;
    width: 55px;
    margin-left: 738px;
    margin-top: -5px;
    color: rgb(255, 183, 0);
}

.main .cake {
    height: 500px;
    width: 100%;
    /* border: 2px solid; */
    display: flex;
}

.main .cake .img img {
    height: 400px;
    width: auto;
    margin-top: 50px;
    margin-left: 270px;
    /* border: 1px solid; */
}

.main .cake .description {
    height: 400px;
    width: 45%;
    /* border: 2px solid; */
    margin-left: 710px;
    margin-top: 50px;
    position: absolute;
}
.main .cake .description .des-1{
    height: 200px;
    width: 100%;
    /* border: 1px solid; */
}
.main .cake .description .des-1 p {
    color: rgb(141, 141, 141);
    line-height: 25px;
    font-size: 18px;
}
.main .cake .description .icons{
    height: 200px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    position: relative;
}
.main .cake .description .icons .i-1, .i-2{
    height: 200px;
    width: 40%;
    border: 1px solid;
    /* margin-top: 5px; */
}
.fa-heart-pulse{
    border: 1px solid;
    position: absolute;
}
.fa-award{
    border: 1px solid;
    position: absolute;
}
.main .cake .description .icons .i-1 h2{
    margin-top: 95px;
}
.main .cake .description .icons .i-2 h2{
    margin-top: 95px;
}
.main .cake .description .icons .i-1 p{
    color: rgb(141, 141, 141);
    line-height: 25px;
    font-size: 18px;
}
.main .cake .description .icons .i-2 p{
    color: rgb(141, 141, 141);
    line-height: 25px;
    font-size: 18px;
}
